name: create-test-pr

on:
  workflow_dispatch:

env:
  TEST_BRANCH: main-test

jobs:
  sync-branch:
    name: Update test branch
    runs-on: ubuntu-latest
    steps:
      - name: Check out main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Check out main branch
        uses: connor-baer/action-sync-branch@066ffc273774493f6327c8f373ef14228961af9c # v2.0.1
        with:
          branch: ${{ env.TEST_BRANCH }}
          token: ${{ secrets.GH_TOKEN }}
          force: true

  create-pr:
    runs-on: ubuntu-latest
    needs:
      - sync-branch
    steps:
      - name: Check out test branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          ref: ${{ env.TEST_BRANCH }}
          persist-credentials: false

      - name: Make changes
        id: changes
        run: |
          echo >> README.md
          number="${RANDOM}"
          echo "${number}" >> README.md
          echo "::set-output name=number::${number}"

      - name: Generate token
        id: generate-token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_KEY }}

      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v7
        with:
          token: ${{ steps.generate-token.outputs.token }}
          title: Test Pull Request (${{ steps.changes.outputs.number }})
          commit-message: Test commit.
          branch: test-pr-${{ steps.changes.outputs.number }}
