name: create-test-pr

on:
  workflow_dispatch:

jobs:
  create-test-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Check out test branch
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3
        with:
          ref: main-test
          persist-credentials: false

      - name: Make changes
        id: changes
        run: |
          echo >> README.md
          number="${RANDOM}"
          echo "${number}" >> README.md
          echo "::set-output name=number::${number}"

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # tag=v1
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_KEY }}

      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@38e0b6e68b4c852a5500a94740f0e535e0d7ba54 # v4
        with:
          token: ${{ steps.generate_token.outputs.token }}
          title: Test Pull Request (${{ steps.changes.outputs.number }})
          commit-message: Test commit.
          branch: test-pr-${{ steps.changes.outputs.number }}
