name: create-test-pr

on:
  workflow_dispatch:

jobs:
  create-test-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Check out test branch
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3
        with:
          ref: main-test
          persist-credentials: false

      - name: Make changes
        id: changes
        run: |
          echo >> README.md
          number="${RANDOM}"
          echo "${number}" >> README.md
          echo "::set-output name=number::${number}"

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # tag=v1
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_KEY }}

      - name: Create pull request
        id: create-pull-request
        uses: peter-evans/create-pull-request@5b4a9f6a9e2af26e5f02351490b90d01eb8ec1e5 # v5
        with:
          token: ${{ steps.generate_token.outputs.token }}
          title: Test Pull Request (${{ steps.changes.outputs.number }})
          commit-message: Test commit.
          branch: test-pr-${{ steps.changes.outputs.number }}
