name: Dependabot Merge

on:
  pull_request_target:
    types:
      - opened

jobs:
  dependabot-merge:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    steps:
      - uses: peter-evans/find-comment@85a676a52594b4481e0532825a2d8906ef96dac2 # v2
        id: find-comment
        with:
          token: ${{ secrets.GH_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: '@dependabot merge'
      - uses: peter-evans/create-or-update-comment@67dcc547d311b736a8e6c5c236542148a47adc3d # tag=v2
        with:
          token: ${{ secrets.GH_TOKEN }}
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: '@dependabot merge'
          edit-mode: replace
