name: Dependabot Merge

on:
  pull_request_target:
    types:
      - opened

jobs:
  dependabot-merge:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    steps:
      - uses: peter-evans/find-comment@1769778a0c5bd330272d749d12c036d65e70d39d # tag=v2
        id: find-comment
        with:
          token: ${{ secrets.GH_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: '@dependabot merge'
      - uses: peter-evans/create-or-update-comment@5adcb0bb0f9fb3f95ef05400558bdb3f329ee808 # tag=v2
        with:
          token: ${{ secrets.GH_TOKEN }}
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: '@dependabot merge'
          edit-mode: replace
